body {}

.wrapper {
    width: 400px;
    margin: 0 auto;
}


.field {
    width: 400px;
    height: 200px;
    border: 1px solid;
    margin: 50px auto;
    position: relative;
}

.ball {
    width: 10px;
    height: 10px;

    top: 180px;
    left: 200px;
    background: black;
    border-radius: 50%;
    position: absolute;
}

.player {
    width: 60px;
    height: 10px;
    bottom: 0;
    background: green;
    position: absolute;
    left: 180px;
}

.bloks {
    margin: 0 auto;
    width: 300px;

    display: flex;
    flex-wrap: wrap;

}

.block {
    width: 14.2%;
    height: 15px;
    background-color: darkgreen;

    border: 1px solid;
    box-sizing: border-box;

}

.empty {
    width: 14.2%;

    height: 15px;
    box-sizing: border-box;
    border: 1px solid transparent;

}

.score {
    border: 1px solid;
    width: 50%;
    height: 20px;
}
